body{
    background-image: url('pim/10.png');
    background-size:150%;
}
.table{
margin-left: 10%;
width: 90%;
border: solid black 1px;
}
thead{
font-size: 25px;
font-weight: bold;
color: whitesmoke;

}
thead th{
    border:solid 1px black;
    background-color: dodgerblue;
    border-collapse:collapse;
    padding: 0px;
}
tbody td{
    border: solid black 1px;
background-color: rgb(170, 159, 7);
color: rgb(19, 17, 17);
}
.upd-btn{
background-color: blue;

border-radius: 20px;



}


.dlete-btn{
    background-color:red;
    border-radius: 10px;


}
.text-light{
    padding: 15px;
    color: white;
    text-decoration: none;
}
.text-light2{
    padding: 15px;
    color: white;
    text-decoration: none;
}